<header class="header">
    <div class="logo-box">
        <img src="" alt="logo" class="logo" />
        <i class="fas fa-laptop-code"></i>
    </div>

    <div class="text-box">
        <h1 class="heading-primary">
            <span class="heading-primary-main">Become</span>
            <span class="heading-primary-sub">a master with juloup app</span>
        </h1>

        <a href="#" class="btn btn-white btn-animated">Discover our packages</a>
    </div>
</header>

<main>
    <section class="section-about">
        <div class="center-text margin-bottom-big">
            <h2 class="heading-secondary">Best programming courses gathered in one place</h2>
        </div>

        <div class="row">
            <div class="col-1-of-2">
                <div class="tertiary-part">
                    <h3 class="heading-tertiary margin-bottom-small">
                        You're going to love our app
                    </h3>
                    <p class="paragraph">With juloup app, you have access to the largest collection of code learning
                        from beginner to advance.<br>
                        A playlist containing videos is entirely created for you by our team according to your
                        level.<br>
                    </p>

                    <h3 class="heading-tertiary margin-bottom-small">
                        Learn to code like you never did before
                    </h3>
                    <p class="paragraph"> </p>

                    <a href="#" class="btn-text">Learn more &rarr;</a>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
        <hr class="about__packages__split row">
    </section>


    <div class="heading__title__move"></div>
    <section class="section-packages">
        <div class="center-text margin-bottom-big">
            <div class="heading__title__move"></div>
            <h2 class="heading-secondary"><span class="packages__grey">Discover our packages</span></h2>
        </div>

        <div class="row">
            <div class="col-1-of-3">
                <div class="card">
                    <div class="card__side margin__left">
                        <h3 class="heading__packages__style">Starter</h3>
                        <p class="starter-text">
                            <ul>
                                <br>
                                <span class="end">Front-End</span>
                                <li class="bullet__hidden">Html for beginner &#10003;</li>
                                <li class="bullet__hidden">Css for beginner &#10003;</li>
                                <li class="bullet__hidden">Javascript for beginner &#10003;</li>
                            </ul>
                            <br>

                            <ul>
                                <span class="end">Back-End</span>
                                <li class="bullet__hidden">Mongo DB for beginner &#10003;</li>
                                <li class="bullet__hidden">Node/Express for beginner &#10003;</li>
                                <li class="bullet__hidden">PHP for beginner &#10003;</li>
                            </ul>

                        </p>
                    </div>
                </div>
            </div>
            <div class="col-1-of-3">
                <div class="card">
                    <div class="card__side margin__left">
                        <h3 class="heading__packages__style">Intermediate</h3>
                        <p class="starter-text">

                            <ul>
                                <br>
                                <span class="end">Front-End</span>
                                <li class="bullet__hidden">Intermediate Html &#10003;</li>
                                <li class="bullet__hidden">Intermediate Css &#10003;</li>
                                <li class="bullet__hidden">Intermediate Javascript &#10003;</li>
                            </ul>
                            <br>

                            <ul>
                                <span class="end">Back-End</span>
                                <li class="bullet__hidden">Intermediate Mongo DB &#10003;</li>
                                <li class="bullet__hidden">Intermediate Node/Express &#10003;</li>
                                <li class="bullet__hidden">Intermediate PHP&#10003;</li>
                            </ul>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-1-of-3">
                <div class="card">
                    <div class="card__side margin__left">
                        <h3 class="heading__packages__style">Master</h3>
                        <p class="starter-text">
                            <ul>
                                <br>
                                <span class="end">Front-End</span>
                                <li class="bullet__hidden">Advance Html &#10003;</li>
                                <li class="bullet__hidden">Advance Css &#10003;</li>
                                <li class="bullet__hidden">Advance Javascript &#10003;</li>
                            </ul>
                            <br>

                            <ul>
                                <span class="end">Back-End</span>
                                <li class="bullet__hidden">Advance Mongo DB &#10003;</li>
                                <li class="bullet__hidden">Advance Node/Express &#10003;</li>
                                <li class="bullet__hidden">Advance PHP &#10003;</li>
                            </ul>

                        </p>

                    </div>
                </div>
            </div>
        </div>
        <div class="clearfix"></div>
    </section>
</main>