<header class="header">
    <div class="logo-box">

        <i class="fab fa-earlybirds" style="font-size:60px;color:#4c4c4c;"></i>
    </div>

    <div class="text-box">
        <h1 class="heading-primary">
            <span class="heading-primary-main">Become</span>
            <span class="heading-primary-sub">a master with Hizzy/Learn</span>
        </h1>

        <a href="#packages" class="btn btn-white btn-animated">Discover our packages</a>
    </div>
</header>

<main>
    <section class="section-about">
        <div class="center-text margin-bottom-big">
            <h2 class="heading-secondary">Best programming courses gathered in one place</h2>
        </div>

        <div class="row">
            <div class="col-1-of-2">
                <div class="tertiary-part">
                    <h3 class="heading-tertiary margin-bottom-small">
                        You're going to love our app
                    </h3>
                    <p class="paragraph">With Hizzy/Learn, you have access to the largest collection of code learning
                        videos from beginner to advance.<br>
                        A playlist containing videos is entirely created for you by our team according to your
                        level.<br>
                    </p>

                    <h3 class="heading-tertiary margin-bottom-small">
                        Learn to code like you never did before
                    </h3>
                    <p class="paragraph">With Hizzy/Learn you can select your level in your profile and change it at
                        anytime. You also have access to a "my video" section where you can find all your videos and
                        where you can keep track of your progression.</p>

                    {{!-- <a href="#" class="btn-text">Learn more &rarr;</a> --}}
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
        <hr class="about__packages__split row">
    </section>




    <div class="heading__title__move"></div>
    <section class="section-packages">
        <div class="center-text margin-bottom-big">
            <div class="heading__title__move"></div>
            <h2 class="heading-secondary"><span class="packages__grey" id="packages">Discover our packages</span></h2>
        </div>

        <div class="row">
            <div class="col-1-of-3">
                <div class="card">
                    <div class="card__side margin__left">
                        <h3 class="heading__packages__style">Starter</h3>
                        <p class="starter-text">
                            <ul>
                                <br>
                                <li class="bullet__hidden">Html: HTML5 tags, attributes, semantic markup...
                                </li>
                                <br>
                                <li class="bullet__hidden">Css: styles, selectors, declarations...</li>
                                <br>
                                <li class="bullet__hidden">Javascript: Data types, object, classes, loop, arrow
                                    functions...</li>
                            </ul>
                            <br>

                        </p>
                    </div>
                </div>
            </div>
            <div class="col-1-of-3">
                <div class="card im">
                    <div class="card__side margin__left">
                        <h3 class="heading__packages__style">Intermediate</h3>
                        <p class="starter-text">

                            <ul>
                                <br>
                                {{!-- <span class="end">Front-End</span> --}}
                                <li class="bullet__hidden">CSS: flexbox and grid</li>
                                <li class="bullet__hidden java">Javascript: DOM, promises, async...</li>
                                <li class="bullet__hidden git">Git and Github: add, commit, status, push...</li>

                            </ul>
                            <br>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-1-of-3">
                <div class="card im">
                    <div class="card__side margin__left">
                        <h3 class="heading__packages__style">Master</h3>
                        <p class="starter-text">
                            <ul>
                                <br>
                                <ul>
                                    <br>
                                    {{!-- <span class="end">Front-End</span> --}}
                                    <li class="bullet__hidden mongo">MongoDB: create, read, update and delete
                                        data...
                                    </li>
                                    <li class="bullet__hidden node">Node: path, url, fs, events, create HTTP server...
                                    </li>

                                    <li class="bullet__hidden pass">Passport: authentication, register and
                                        access control...</li>
                                    <li class="bullet__hidden">React: components, state, props, JSX, events... </li>


                                </ul>
                            </ul>
                            <br>
                        </p>

                    </div>
                </div>
            </div>
        </div>
        <div class="clearfix"></div>
    </section>
</main>
<div class="hr__footer"></div>
<div class="move_last_hr">
    <hr class="about__packages__split">
</div>
{{>footer}}