<header class="header">
    <div class="logo-box">
        <img src="" alt="logo" class="logo" />
        <i class="fas fa-laptop-code"></i>
    </div>

    <div class="text-box">
        <h1 class="heading-primary">
            <span class="heading-primary-main">Become</span>
            <span class="heading-primary-sub">a master with juloup app</span>
        </h1>

        <a href="#" class="btn btn-white btn-animated">Discover our packages</a>
    </div>
</header>

<main>
    <section class="section-about">
        <div class="center-text margin-bottom-big">
            <h2 class="heading-secondary">Best programming courses gathered in one place</h2>
        </div>

        <div class="row">
            <div class="col-1-of-2">
                <div class="tertiary-part">
                    <h3 class="heading-tertiary margin-bottom-small">
                        You're going to love our app
                    </h3>
                    <p class="paragraph">text goes here</p>

                    <h3 class="heading-tertiary margin-bottom-small">
                        Learn to code like you never did before
                    </h3>
                    <p class="paragraph">text goes here</p>

                    <a href="#" class="btn-text">Learn more &rarr;</a>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
    </section>
</main>